#img-card-popup{
  border-radius: 20px;
  border-color: #000;
  width: 100%;
  height: 75vh;
  position: relative;
  bottom: 20px;
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  #img-card-popup{
    border-radius: 20px;
    height: 50vh;
  }
  
}