.icons__dislike{
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url('../../../../images/Group.svg') no-repeat center / contain;
  background-size: 20px 20px;
}

.icons__liked{
  background: url('../../../../images/Union.svg') no-repeat center / contain;
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

