.add-button {
  background-repeat: no-repeat;
  background-image: url("../../../images/add_button.png");
  width: 150px;
  height: 50px;
  background-color: #000;
  margin: 30px auto;
  margin-right: 0px;
  border: 2px;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .add-button{
    margin: 20px;
    grid-row: 4;
  }
  
}