.popup__container-img{
  position: relative;
  width: 100%;
}


.img-card-name{
  color: white;
  margin: 0px;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
}