.popup__container-title{
  margin: 0px;
  padding-top: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #000;
  }

  @media screen and (max-width: 640px) {
    .popup__container-title{
      font-size: 18px;
    }
    
  }