@import "./blocks/body/body.css";
@import "./blocks/button/add-button/add-button.css";
@import "./blocks/button/edit-button/edit-button.css";
@import "./blocks/content/content.css";
@import "./blocks/header/header.css";
@import "./blocks/header/user-email/user-email.css";
@import "./blocks/logo/logo.css";
@import "./blocks/register/register.css";
@import "./blocks/register/register__form/register__form_inputs/register__form_inputs.css";
@import "./blocks/register/register__form-button/register__form-button.css";
@import "./blocks/register/direction-link/direction-link.css";
@import "./blocks/register/register__link/register__link.css";
@import "./blocks/page/page.css";
@import "./blocks/profile/profile.css";
@import "./blocks/profile/avatar/avatar.css";
@import "./blocks/profile/vector/vector.css";
@import "./blocks/profile/profile__description/profile__description.css";
@import "./blocks/profile/profile__description-name/profile__description-name.css";
@import "./blocks/profile/profile__description-info/profile__description-info.css";
@import "./blocks/elements/elements.css";
@import "./blocks/elements/card/card.css";
@import "./blocks/elements/card/card__image/card__image.css";
@import "./blocks/elements/card/card__image-text/card__image-text.css";
@import "./blocks/elements/card/card-photo/card-photo.css";
@import "./blocks/elements/icons/icons.css";
@import "./blocks/elements/icons/icons__delete/icons__delete.css";
@import "./blocks/elements/icons/icons__like/icons__like.css";
@import "./blocks/elements/icons/icons__like_number/icons__like_number.css";
@import "./blocks/popup/popup.css";
@import "./blocks/popup/popupform/popupform.css";
@import "./blocks/popup/popup_opened/popup_opened.css";
@import "./blocks/popup/popup__container/popup__container.css";
@import "./blocks/popup/popup__container-register/popup__container-register.css";
@import "./blocks/popup/popup__container-register/popup__container-register_text/popup__container-register_text.css";
@import "./blocks/popup/popup__container_deleting/popup__container_deleting.css";
@import "./blocks/popup/popup__container_edit/popup__container_edit.css";
@import "./blocks/popup/popup__container-texts/popup__container-texts.css";
@import "./blocks/popup/popup__container-title/popup__container-title.css";
@import "./blocks/popup/popup__container-texts-input/popup__container-texts-input.css";
@import "./blocks/popup/popup__container-texts-input-link-edit/popup__container-texts-input-link-edit.css";
@import "./blocks/popup/popup__container-texts-deleting/popup__container-texts-deleting.css";
@import "./blocks/popup/popup__container-btn-closed/popup__container-btn-closed.css";
@import "./blocks/popup/popup__container-btn-closed-edit/popup__container-btn-closed-edit.css";
@import "./blocks/popup/popup__container-btn-closed_images/popup__container-btn-closed_images.css";
@import "./blocks/popup/popup__container-btn-closed-deleting/popup__container-btn-closed-deleting.css";
@import "./blocks/popup/popup__container-btn-closed_register/popup__container-btn-closed_register.css";
@import "./blocks/popup/popup__handlers/popup__handlers.css";
@import "./blocks/popup/popup__handlers-button/popup__handlers-button.css";
@import "./blocks/imgcontainer/img__container.css";
@import "./blocks/imgcontainer/img-card-popup/img-card-popup.css";
@import "./blocks/footer/footer.css";
@import "./blocks/global/global.css";