.popup__handlers-button{
  height: 50px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Inter", Arial, sans-serif;
}

.popup__handlers-button:hover{
  color: #87838347;
  opacity: 0.8;
  transition: 1s ease-in-out forwards;
}

.disabled-hover{
  color: #87838347;
  opacity: 0.8;
}

.popup__button_inactive{
border-radius: 2px;
border: 1px solid #000;
background-color: #CCC;
text-align: center;
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media screen and (max-width: 640px) {
  .popup__handlers-button{
    font-size: 14px;
  }
} 